<div id="shopify-section-72ba9d8f-3136-4396-9085-2a0826cf2d01" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-72ba9d8f-3136-4396-9085-2a0826cf2d01 {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-72ba9d8f-3136-4396-9085-2a0826cf2d01 {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-72ba9d8f-3136-4396-9085-2a0826cf2d01"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-72ba9d8f-3136-4396-9085-2a0826cf2d01"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_180x.jpg?v=1670682926 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_360x.jpg?v=1670682926 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_540x.jpg?v=1670682926 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_720x.jpg?v=1670682926 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_900x.jpg?v=1670682926 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1080x.jpg?v=1670682926 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1296x.jpg?v=1670682926 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1512x.jpg?v=1670682926 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1728x.jpg?v=1670682926 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_2048x.jpg?v=1670682926 2048w"
                            sizes="545px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_180x.jpg?v=1670682926 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_360x.jpg?v=1670682926 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_540x.jpg?v=1670682926 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_720x.jpg?v=1670682926 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_900x.jpg?v=1670682926 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1080x.jpg?v=1670682926 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1296x.jpg?v=1670682926 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1512x.jpg?v=1670682926 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_1728x.jpg?v=1670682926 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/1_2048x.jpg?v=1670682926 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/1_600x600@2x.jpg?v=1670682926"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-cf1c5376-54ea-4b40-86e2-15d25f36fb16" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-cf1c5376-54ea-4b40-86e2-15d25f36fb16 {
                        max-width: 645.9259259259259px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-cf1c5376-54ea-4b40-86e2-15d25f36fb16 {
                        max-width: 645.9259259259259px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-cf1c5376-54ea-4b40-86e2-15d25f36fb16"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.37500000000001%;">
                        <img id="FeatureRowImage-cf1c5376-54ea-4b40-86e2-15d25f36fb16"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1851851851851851" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_2048x.jpg?v=1670682930 2048w"
                            sizes="545px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/3_2048x.jpg?v=1670682930 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/3_600x600@2x.jpg?v=1670682930"
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-29577654-38ae-4c0c-81cc-c7c71ed637f8" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-29577654-38ae-4c0c-81cc-c7c71ed637f8 {
                        max-width: 584.3204697986578px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-29577654-38ae-4c0c-81cc-c7c71ed637f8 {
                        max-width: 584.3204697986578px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-29577654-38ae-4c0c-81cc-c7c71ed637f8"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:93.27073552425665%;">
                        <img id="FeatureRowImage-29577654-38ae-4c0c-81cc-c7c71ed637f8"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.0721476510067114" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_2048x.jpg?v=1670682930 2048w"
                            sizes="545px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/4_2048x.jpg?v=1670682930 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/4_600x600@2x.jpg?v=1670682930"
                        class="feature-row__image" />
                </noscript>
            </div>
            <div class="feature-row__item feature-row__text feature-row__text--left">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="shopify-section-59b10fd4-10ca-4c2a-a318-43fef1bfafba" class="shopify-section index-section">
    <div class="page-width feature-row">
        <div class="feature-row">
            <div class="feature-row__item feature-row__text feature-row__text--right">
                <h2 class="h3">Image with text</h2>
                <div class="rte rte-setting featured-row__subtext">
                    <p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add
                        details on availability, style, or even provide a review.</p>
                </div>
            </div>
            <div class="feature-row__item">
                <style>
                    #FeatureRowImage-59b10fd4-10ca-4c2a-a318-43fef1bfafba {
                        max-width: 644.731977818854px;
                        max-height: 545px;
                    }
                    #FeatureRowImageWrapper-59b10fd4-10ca-4c2a-a318-43fef1bfafba {
                        max-width: 644.731977818854px;
                    }
                </style>
                <div id="FeatureRowImageWrapper-59b10fd4-10ca-4c2a-a318-43fef1bfafba"
                    class="feature-row__image-wrapper js">
                    <div style="padding-top:84.53124999999999%;">
                        <img id="FeatureRowImage-59b10fd4-10ca-4c2a-a318-43fef1bfafba"
                            class="feature-row__image lazyautosizes lazyloaded"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-aspectratio="1.1829944547134936" data-sizes="auto" alt=""
                            data-srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_2048x.jpg?v=1670682930 2048w"
                            sizes="545px"
                            srcset="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_180x.jpg?v=1670682930 180w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_360x.jpg?v=1670682930 360w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_540x.jpg?v=1670682930 540w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_720x.jpg?v=1670682930 720w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_900x.jpg?v=1670682930 900w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1080x.jpg?v=1670682930 1080w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1296x.jpg?v=1670682930 1296w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1512x.jpg?v=1670682930 1512w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_1728x.jpg?v=1670682930 1728w, //cdn.shopify.com/s/files/1/0682/1979/7788/files/2_2048x.jpg?v=1670682930 2048w">
                    </div>
                </div>
                <noscript>
                    <img src="//cdn.shopify.com/s/files/1/0682/1979/7788/files/2_600x600@2x.jpg?v=1670682930"
                        class="feature-row__image" />
                </noscript>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>
</div>